@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-out;
}

.slide-in-right {
  animation: slideInRight 0.5s ease-out;
}

.slide-out-left {
  animation: slideOutLeft 0.5s ease-out;
}

.slide-out-right {
  animation: slideOutRight 0.5s ease-out;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .link-underline {
    @apply after:content-[''] after:absolute after:-bottom-1 after:h-1 after:w-0 after:bg-black after:right-0 after:transition-all after:duration-300 after:ease-in-out;
  }
  .link-underline:hover {
    @apply after:w-full after:left-0;
  }

  .link-footer {
    @apply cursor-pointer after:content-[''] after:absolute after:-bottom-1 after:h-1 after:w-0 after:bg-white after:right-0 after:transition-all after:duration-300 after:ease-in-out;
  }
  .link-footer:hover {
    @apply after:w-full after:left-0;
  }

  .modal {
    @apply flex absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-11/12 max-w-6xl h-[700px] shadow-2xl rounded-3xl overflow-hidden;
  }

  .modal__language {
    @apply w-1/4 p-4 relative flex flex-col items-center transition-all duration-300 ease-in-out;
  }

  .language__name {
    @apply absolute -bottom-2;
  }

  .modal__language:hover {
    @apply transform scale-90 brightness-90;
  }

  .modal__language:hover .language__name {
    @apply transform scale-100;
  }

  .language__name {
    @apply absolute -bottom-2 transform scale-0 transition-all duration-300 ease-in-out;
  }

  .input {
    @apply w-full bg-black text-white outline-none border-[1px] border-solid border-border border-t-0 border-l-0 border-r-0 h-10 transition-all duration-300 ease-in-out focus:border-orange;
  }

  .formButton {
    @apply bg-orange border-2 border-solid border-orange text-white text-xl py-3 px-6 font-bold max-w-60 w-full transition-all duration-300 ease-in-out hover:border-white hover:bg-transparent active:border-orange active:text-orange;
  }

  .loader {
    animation: spinner 750ms linear infinite;
  }
}
